#index01
    .container.settings
        h3.title Configurações
        select#documentType
            option(value="") - Escolha uma opção -
            option(value="information") Informação
            option(value="price_a4_portrait") Preço (A4 Retrato)
            option(value="price_a4_landscape") Preço (A4 Paisagem)
            option(value="price_a4_2x") Preço (A4 2 por folha)
            option(value="price_a4_4x") Preço (A4 4 por folha)
#index02
    .container.settings
        h3.title Adicionar Produto
        .line.fields
            .subIndex02
                input#productName(type="text", maxlength="40",placeholder="Nome do Produto", alt="campo para digitar o nome do produto.", title="Insira o nome do produto aqui.")
            .subIndex02
                input#productUnit(type="text", maxlength="15",placeholder="Unidade do Produto", alt="campo para digitar a unidade do produto.", title="Insira a unidade do produto aqui.")
            .subIndex02
                input#productPrice(type="text",maxlength="6", placeholder="Preço do Produto", alt="campo para digitar o preço do produto.", title="Insira o preço do produto aqui.")
        
        input#isOferta(type="checkbox", checked, alt="Botão de seleção para indicar que produto está em oferta.", title="Selecione caso esse produto seja alvo de oferta.")
        label É uma oferta.
        br
        button(onclick="addProduct()", alt="Botão para adicionar produto.", title="Clique aqui para adicionar um produto.") Adicionar Produto

#index03
    .container.settings
        h3.title Fila de impressão
        .table-responsive
            table
                thead
                    tr
                        td
                            h4 id
                        td
                            h4 nome
                        td
                            h4 unidade
                        td
                            h4 valor
                        td
                            h4 remover
                tbody#productsTable
#index04
    .container
        button(onclick="execPrint()" alt="Botão para executar a impressão.", title="Clique aqui para começar a imprimir.") executar impressão